.dh-header-non-rectangular-container h1, p {
  color: white;
  /* font-weight: bold; */
}

.clearmargin {
  margin: 0px;
}

.clearpadding {
  padding: 0px;
}

.row-image-txt {
  background-color: rgba(152,165,192,0.2);
}

.row-image-txt h1 {
  color: grey;
}

.row-image-txt p {
  color: grey;
}

