.submit-now {
  margin-top: 20px;
  font-size: 16px;
  width: 200px;
  height: 50px;
  background: linear-gradient(90deg, rgba(152,165,192,1) 0%, rgba(118,136,187,1) 33%, rgba(83,108,181,1) 66%, rgba(39,64,142,1) 100%, rgba(182,182,184,1) 100%);
  border-color: transparent;
  color: #fff;
}

.form-control.input {
  border: 0;
  background: transparent;
  border-bottom: 1px solid silver;
  border-radius: 0px !important;
}

.getintouch {
  height: auto;
  background-image: url("../../assets/img/Get%20In%20touch/GetInTouch.png");
  background-size: cover;
  background-repeat: no-repeat;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  border-radius: 0 !important;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  border-radius: 8px !important;
}

.btn-primary:hover {
  color: rgba(39,64,142,0.9);
  background-color: #4daade;
  border-color: #4daade;
  box-shadow: 0px 10px 15px rgba(157,157,157,0.4);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #4daade;
  border-color: #4daade;
}

.modern-form {
  padding-top: 60px;
  padding-bottom: 80px;
}

.modern-form__hr {
 
  border-width: 5px;
  width: 70px;
  margin-left: 0;
  margin-top: -10px;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { border-color: rgba(39,64,142,0.5);; }
  50% {  border-color: rgba(39,64,142,0.9); }
  100% {  border-color: rgba(39,64,142,0.5); }
}

.modern-form__form-container {
  padding-top: 100px;
}

.modern-form__form-group--padding-r {
  padding-right: 20px;
}

.modern-form__form-group--padding-t {
  padding-top: 50px;
}

.modern-form__form-control--textarea {
  height: 95px !important;
  resize: none;
}

